@model Bade.Admin.Model.Model.Output.ApplicationConfigOutput

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

@Html.React("ApplicationConfigPage", Model, null, "content")



@Html.ReactInitJavaScript();